@font-face
{
font-family: "sublime";
src: url(fonts/exo-Regular.eot),
url(fonts/exo-Regular.otf),
url(fonts/exo-Regular.svg),
url(fonts/exo-Regular.ttf),
url(fonts/exo-Regular.woff);
}

*{
margin: 0;
padding: 0;
}

body
{
font-family: "sublime";
font-size: 0.8vw;
background-image: url(image/background.svg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

a
{
text-decoration: none;
}

p
{
margin: auto;
color: white;
}

#asider
{
  margin-top: -2vh;
  float:left;
  overflow: hidden;
  height: 100vh;
  width: 10vw;
  border-right: 50 white;
  border-top-right-radius: 2vw;
  border-bottom-right-radius: 2vw;
}

.element1
{
  height: 100vh;
  display: inline-block;
}

#head_content
{
margin-top: 2vh;
margin-right: 3vw;
display: flex;
justify-content: space-between;
}

#profil
{
overflow: hidden;
width:8vw;
height:8vw;
background-image: url(image/profile.jpg);
background-position: center;
background-size: cover;
border: 0.25vw inset black;
border-radius: 5vw;
}

#headerer
{
margin-top:2vh;
overflow: hidden;
margin-left:30vw;
width: 30vw;
height: 8vh;
line-height: 8vh;
background-color: black;
border-top-right-radius: 2vw;
border-bottom-left-radius: 2vw;
}

h1
{
text-align: center;
color: white;
white-space: nowrap;
position: relative;
}

#footerer
{
margin-left:30vw;
width: 50vw;
height: 4vh;
line-height: 4vh;
background-color: black;
border-bottom-right-radius: 1.2vw;
border-top-left-radius: 1.2vw;
}

.footer_txt
{
  color: white;
  text-align: center;
  transition: color 1s;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
}

.footer_txt:hover
{
  color:grey;
  text-align: center;
  transition: color 1s;
  -moz-transition: color 1s;
  -webkit-transition: color 1s;
  -o-transition: color 1s;
}

#content_div
{
padding-top: 7vh;
padding-bottom: 7vh;
margin-right: 5vw;
margin-left: 15vw;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

.content:nth-child(1)
{
width:25vw;
height: 60vh;
background-color: rgba(123,110,123,0.4);
display: flex;
border-radius: 1.5vw;
-webkit-box-shadow:inset 0px 0px 0px 0.4vw black;
-moz-box-shadow:inset 0px 0px 0px 0.4vw black;
box-shadow:inset 0px 0px 0px 0.4vw black;
}

.content:nth-child(2)
{
overflow: hidden;
width:25vw;
height: 60vh;
background-color: rgba(123,110,123,0.4);
display: flex;
border-radius: 1.5vw;
-webkit-box-shadow:inset 0px 0px 0px 0.4vw black;
-moz-box-shadow:inset 0px 0px 0px 0.4vw black;
box-shadow:inset 0px 0px 0px 0.4vw black;
}

.content:nth-child(3)
{
overflow: hidden;
width:25vw;
height: 60vh;
background-color: rgba(123,110,123,0.4);
display: flex;
border-radius: 1.5vw;
-webkit-box-shadow:inset 0px 0px 0px 0.4vw black;
-moz-box-shadow:inset 0px 0px 0px 0.4vw black;
box-shadow:inset 0px 0px 0px 0.4vw black;
}

h2
{
text-align: center;
}

ul
{
margin-left: 2vw;
text-align: justify;
}

.content_txt:nth-child(1)
{
margin-left: 1vw;
width:22vw;
margin-top: 4vh;
}

.content_txt:nth-child(2)
{
margin-left: 1vw;
width:22vw;
margin-top: 4vh;
}

.content_txt:nth-child(3)
{
margin-left: 1vw;
width:22vw;
margin-top: 4vh;
}

/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
@media all and (max-width: 1024px){

  body
  {
    font-size: 1.3vw;
  }
  #headerer
  {
  margin-left:25vw;
  }
  #footerer
  {
  margin-left:25vw;
  }
  #content_div
  {
  width:60vw;
  height:100vw;
  margin-right: 20vw;
  margin-left: 20vw;
  flex-direction:column;
  justify-content:space-around;
  flex-wrap:nowrap;
  }
  #asider
  {
  visibility: hidden;
  }
  .content:nth-child(1), .content:nth-child(2), .content:nth-child(3)
  {
  width: 60vw;
  height:auto;
  padding-bottom: 2vw;
  }
  .content_txt:nth-child(1), .content_txt:nth-child(2), .content_txt:nth-child(3)
  {
  width:30vw;
  margin-top: 2vh;
  margin-left: 15vw;
  padding-bottom: 1.8vw;
  }
}
