*
{
  margin: 0;
  padding: 0;
}
body
{
  max-height: 100vw;
  background-color: #292929;
}
table
{
  border-collapse: collapse;
  border-spacing: 0;
  /*box-shadow: 2px 2px 0px 0px white;
  box-shadow: 18px 18px 0px 0px black;*/
  transform: rotateX(60deg) rotateZ(45deg);
  transform-style: preserve-3d;
  -moz-transform: rotateX(60deg) rotateZ(45deg);
  -moz-transform-style: preserve-3d;
  -webkit-transform: rotateX(60deg) rotateZ(45deg);
  -webkit-transform-style: preserve-3d;
}
img
{
  position: absolute;
  top: 0;
  pointer-events: none;
  transition: margin 0.5s;
}
tr
{
  background-color: white;
}
td
{
  font-size: 1.5vw;
  width: 10%;
  height: 10%;
  max-width: 10%;
  max-height: 10%;
  border: 0.5px solid black;
  background-size: cover;
  background-position: center;
  background-image: url('../assets/ground.svg');*/
}
td.attack
{
  cursor: pointer;
  box-shadow: inset 0px 0px 6px 2px red;
  /*background-color: red;*/
  visibility: visible;
}
td.move
{
  cursor: pointer;
  box-shadow: inset 0px 0px 5px 2px green;
  visibility: visible;
}
td.rocked
{
  background-color: black;
  visibility: visible;
}
td.weapon
{
  box-shadow: inset 0px 0px 6px 2px blue;
  visibility: visible;
}
/*
///
////
/////
////
///
*/
#playerOne
{
  width: 100%;
  height: 100%;
}
#playerOne.active:hover
{
  cursor: pointer;
}


#playerTwo
{
  width: 100%;
  height: 100%;
  /*vertical-align: middle;
  text-align: center;*/
}
#playerTwo.active:hover
{
  cursor: pointer;
}
/*
///
////
/////
////
///
*/

/*#notifier::after
{
width: 2%;
height: 9%;
right: 9%;
top: 15%;
position: absolute;
z-index: 15;
background-color:  black;
}*/

#notifier
{
width:15%;
height: 8%;
top: 15%;
right: 0;
position: absolute;
z-index: 15;
background-color: white;
visibility: visible;
transition: width 1s;
-moz-transition: width 1s;
-web-transition: width 1s;
}
#notifier.active
{
height: 50px;
transition: height 1s;
-moz-transition: height 1s;
-web-transition: height 1s;
}
/*
///
////
/////
////
///
*/
div#but_attack
{
left:2vw;
background-color: red;
}
div#but_move
{
left:9vw;
background-color: green;
}
div#but_defend
{
left:16vw;
background-color: blue;
}
div.button
{
  text-outline: 2vw;
  width:5vw;
  height:5vw;
  visibility: visible;
  position:  absolute;
  z-index: 10;
  border-radius: 25vw;
}
div.button:hover
{
  cursor: pointer;
}
/*
///
////
/////
////
///
*/
