@font-face {
font-family: "sublime";
src: url(fonts/winter.eot),  url(fonts/winter.otf),  url(fonts/winter.svg),  url(fonts/winter.ttf),  url(fonts/winter.woff);
}

a
{
 cursor: pointer;
 text-decoration: none;
 }

body{
font-family: "sublime", serif;
font-size: 110%;
background-image: url(Image/background.png);
}


#bord_shadow
{
box-shadow: 0px 8px black;
font-size: 25px;
text-align: center;
border: 5px;
border-style: solid;
border-radius: 15px;
border-color: yellow;
background-color: lightgrey;
}

#bord_shadow:hover
{
box-shadow: 0px -5px black;
color: #e67d16;
}

.titre_color
{
color: #e67d16;
}

.clearer
{
clear: both;
}

.header
{
text-align: center;
}

.profil
{
margin-top: -90px;
margin-right: 250px;
float: right;
}
.rightalign
{
text-align: right;
margin-right: 180px;
}
